.header {
  &__text--main {
    font-family: "hackney", sans-serif;
    letter-spacing: 22px;
    color: whitesmoke;
    font-size: 15rem;
    transition: all 0.4s;
    user-select: none;
    &:hover {
      text-shadow: 0 0 0.4rem whitesmoke;
    }
    @media only screen and (max-width: 1270px) {
      font-size: 10rem;
    }
    @media only screen and (max-width: 800px) {
      font-size: 8rem;
      text-align: center;
    }
    @media only screen and (max-width: 425px) {
      font-size: 12rem;
    }
  }
  &__text--main:hover + &__text--sub {
    text-shadow: 0 0 0.4rem whitesmoke;
  }
  &__text--sub {
    font-family: "hackney", sans-serif;
    font-size: 8rem;
    color: whitesmoke;
    letter-spacing: 5px;
    user-select: none;
    transition: all 0.4s;
    @media only screen and (max-width: 1270px) {
      font-size: 6rem;
    }
    @media only screen and (max-width: 800px) {
      font-size: 4.5rem;
      text-align: center;
    }
    @media only screen and (max-width: 425px) {
      font-size: 7.5rem;
    }
  }
  &__text--tertiary {
    text-align: center;
    font-family: "miles", sans-serif;
    font-size: 5rem;
    color: whitesmoke;
    letter-spacing: 7px;
    user-select: none;
    text-shadow: 0 0 0.4rem whitesmoke;
    @media only screen and (max-width: 1270px) {
      font-size: 3.5rem;
    }
    @media only screen and (max-width: 800px) {
      font-size: 2.5rem;
    }
    @media only screen and (max-width: 688px) {
      font-size: 3rem;
    }
    @media only screen and (max-width: 425px) {
      font-size: 5rem;
    }
  }
}
.polaroid {
  &__box--text {
    font-family: "os";
    font-size: 8rem;
  }
}
.footer {
  &__text {
    font-family: "artifact";
    padding-top: 3rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 5rem;
    text-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.691);
  }
  &__para--text {
    font-family: "Raleway";
    text-align: left;
    font-size: 2rem;
    line-height: 35px;
  }
}
.T {
  @media (max-width: 425px) {
    font-size: 10rem;
  }
  @media (min-width: 425px) and (max-width: 664px) {
    font-size: 10rem;
  }
}
