.polaroid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  height: 100vh;
  background-image: url(../img/Nature/28.jpg);
  background-size: cover;
  position: relative;
  &__box1 {
    background-image: url(../img/minified/polaroids/2.1.png);
  }
  &__box2 {
    background-image: url(../img/minified/polaroids/3.1.png);
  }
  &__box3 {
    background-image: url(../img/minified/polaroids/1.1.png);
  }
  &__box {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s;
    width: 29rem;
    height: 35rem;
    overflow: hidden;
    backface-visibility: hidden;

    &--text {
      position: absolute;
      bottom: 0rem;
      right: 8.5rem;
      margin-bottom: -1rem;
    }
  }
  &__frame {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
  }
  &__pic {
    padding: 2rem 1.6rem 0; //! this makes the image line up with the frame of the polaroid
    width: 100%;
    transition: all 0.5s ease;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    z-index: 2;
    background: linear-gradient(to bottom, #111, transparent);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    z-index: 2;
    background: linear-gradient(to top, #111, transparent);
  }

  // *background-image: url(../img/polaroids/1.1.png);
}
